%a.aor{:href => "http://austinonrails.org"} Austin on Rails
%br/
%a{:href => "https://github.com/bbwharris/AOR-Pipeline"} This on Github
%br/
%a{:href => "http://prezi.com/adouydzxq9ie/getting-started-with-rails-31-asset-pipeline/"} Associated Presentation
